<html>
 <head>
    <title>UEK</title>

   <script src="/static/assets/js/jquery.min.js"></script>
   <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
   <script src="/static/assets/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
   <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/assets/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="/static/assets/css/main.css">
 </head>
 <body class="container">
  <h1>Try it out!</h1>
  <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
      <div class="dropzone" id="dropzoneBox"></div>
      <button class="bar-button btn-primary" type="submit">{{ uploadButtonName }}</button>
  </form>

  <script type="text/javascript">
      Dropzone.autoDiscover = false;
      var myDropzone = new Dropzone("div#dropzoneBox", {
        init: function() {
            this.on('removedfile', function(file) {
                var data = {
                    filename: file.name
                };

                $.ajax({
                  url: 'remove-file',
                  method: 'POST',
                  data: JSON.stringify(data),
                  contentType: 'application/json;charset=UTF-8',
                })
            });
        },
        url: '/upload',
        maxFilesize: 2,
        addRemoveLinks: true,
        acceptedFiles: '.jpeg, .jpg, .png, .gif'
      });
  </script>
 </body>
</html>
